.Nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;

  &-link {
    text-decoration: none;
    &.active {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
