.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  &List {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
  }
  &Item {
    &:not(:last-child) {
      margin-right: 0.2rem;
    }
  }
}
