.NavbarLink {
  text-decoration: none;
  display: block;
  border-radius: 4px;
  &.active {
    font-weight: 700;
    background-color: $color-quinary;
    button {
      color: $color-white;
    }
  }
}
