.Notification {
  transition: all 350ms;
  opacity: 0;
  background-color: $color-quinary;
  color: $color-white;
  max-width: 10rem;
  width: 100%;
  padding: 1rem;
  @include box-shadow($color-quinary, 0.9);
  border-radius: 5px;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  &-enter {
    &-active {
      opacity: 0;
      transform: translateY(-20%);
    }
    &-done {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  &-exit {
    opacity: 1;
    transform: scale(1);
    &-active {
      opacity: 0;
      transform: translateY(-20%);
    }
    &-done {
      opacity: 0;
      transform: translateY(-20%);
    }
  }
}
