.Page {
  transition: all 200ms ease-out;
  padding: 2rem 5rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scale(1.25);
  &-enter {
    &-active {
      opacity: 1;
      transform: scale(1);
    }
    &-done {
      opacity: 1;
      transform: scale(1);
    }
  }
  &-exit {
    opacity: 1;
    transform: scale(1);
    &-active {
      opacity: 0;
      transform: scale(0.8);
    }
    &-done {
      opacity: 0;
      transform: scale(0.8);
    }
  }
}
