.Product {
  transition: all 100ms ease-out;
  opacity: 0;
  display: block;
  padding: 2rem 4rem;
  @include box-shadow($color-black, 0.1);
  border-radius: 5px;
  transform: translateX(-5%);
  margin-bottom: 2rem;
  &-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  &-left {
    max-width: 50%;
    width: 100%;
    align-self: stretch;
  }
  &-right {
    max-width: 50%;
    width: 100%;
    align-self: stretch;
  }
  &-price {
    text-align: right;
  }
  &-description,
  &-category {
    text-align: left;
  }
  &-controls {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  &.flex-item {
    width: 400px;
    align-self: stretch;
  }
  &-enter {
    &-active {
      opacity: 1;
      transform: translateX(0px);
    }
    &-done {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  &-exit {
    opacity: 1;
    transform: scale(1);
    &-active {
      opacity: 0;
      transform: scale(0.8);
    }
    &-done {
      opacity: 0;
      transform: scale(0.8);
    }
  }
}
