.Product {
  transition: all 100ms ease-out;
  opacity: 0;
  display: block;
  padding: 2rem 4rem;
  border: 1px dashed #000;
  transform: translateX(-5%);
  &.flex-item {
    width: 400px;
    align-self: stretch;
  }
  &:not(:last-child) {
    margin-bottom: 4rem;
  }
  &-enter {
    &-active {
      opacity: 1;
      transform: translateX(0px);
    }
    &-done {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  &-exit {
    opacity: 1;
    transform: scale(1);
    &-active {
      opacity: 0;
      transform: scale(0.8);
    }
    &-done {
      opacity: 0;
      transform: scale(0.8);
    }
  }
}
