@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

html {
  background-color: $color-quaternary;
  text-align: center;
  font-family: $font-primary;
  color: $color-primary;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
