// Colors
$color-primary: #264653;
$color-secondary: #2a9d8f;
$color-tertiary: #e9c46a;
$color-quaternary: #f4a261;
$color-quinary: #e76f51;

// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;
